[Unit]
Description=Save weather data to file
# https://wiki.archlinux.org/index.php/Systemd#Handling_dependencies
Requires=kplex.service
After=kplex.service

[Service]
Type=simple
RemainAfterExit=No
ExecStart=/usr/sbin/weather-logger

[Install]
WantedBy=multi-user.target
